process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MAGICBLAST {
        publishDir = [
            path: { "${params.outdir}/magicblast" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PARSEMAGICBLAST {
        publishDir = [
            path: { "${params.outdir}/parsemagicblast" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BWA_INDEX {
        publishDir = [
            path: { "${params.outdir}/bwa_index" },
            mode: params.publish_dir_mode
        ]
        ext.args = '-a bwtsw'
    }

    withName: BWA_MEM {
        publishDir = [
            path: { "${params.outdir}/bwa_mem" },
            mode: params.publish_dir_mode
        ]
    }

    withName: TRIMMOMATIC {
        publishDir = [
            path: { "${params.outdir}/trimmomatic" },
            mode: params.publish_dir_mode
        ]
    }

    withName: INTERLACEFASTA {
        publishDir = [
            path: { "${params.outdir}/interlacefasta" },
            mode: params.publish_dir_mode
        ]
    }

    withName: REPEATEXPLORER {
        publishDir = [
            path: { "${params.outdir}/repeatexplorer" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PREPROCESSTRF {
        publishDir = [
            path: { "${params.outdir}/preprocesstrf" },
            mode: params.publish_dir_mode
        ]
    }

    withName: QUAST {
        publishDir = [
            path: { "${params.outdir}/quast" },
            mode: params.publish_dir_mode
        ]
    }

    withName: TRF {
        publishDir = [
            path: { "${params.outdir}/trf" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PREPROCESSR {
        publishDir = [
            path: { "${params.outdir}/preprocessr" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MONOMERPROBE {
        publishDir = [
            path: { "${params.outdir}/monomerprobe" },
            mode: params.publish_dir_mode
        ]
    }

    withName: KMERPROBE {
        publishDir = [
            path: { "${params.outdir}/kmerprobe" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PYSCRIPTS {
        publishDir = [
            path: { "${params.outdir}/pyscripts" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BOWTIE2_BUILD {
        publishDir = [
            path: { "${params.outdir}/bowtie2build" },
            mode: params.publish_dir_mode
        ]
        ext.args = '-f'
    }

    withName: BOWTIE2_CROSS_ALIGN {
        publishDir = [
            path: { "${params.outdir}/bowtie2crossalign" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PARSESAM {
        publishDir = [
            path: { "${params.outdir}/parsesam" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BOWTIE2_CLSAT_ALIGN {
        publishDir = [
            path: { "${params.outdir}/bowtie2clsatalign" },
            mode: params.publish_dir_mode
        ]
    }

    withName: EXTRACTCONTIG {
        publishDir = [
            path: { "${params.outdir}/extractcontig" },
            mode: params.publish_dir_mode
        ]
    }

    withName: EMBOSSNEEDLE {
        publishDir = [
            path: { "${params.outdir}/embossneedle" },
            mode: params.publish_dir_mode
        ]
    }
    
}
